<%= simple_form_for @recipe do |f| %>
  <%= f.input :name %>
  <%= f.hidden_field :dog_id, value: @user.dog.id %>

  <%= button_tag "Check nutritional status of recipe", :type => 'button', :id => "check_recipe", class: 'btn btn-primary' %>

  <h4> Ingredients </h4>

  <div id="doses">
    <%= f.simple_fields_for :doses do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Ingredient', f, :doses, class: 'btn btn-secondary' %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
