<%= simple_form_for @recipe do |f| %>
  <%= f.input :name %>
  <%= f.hidden_field :dog_id, value: @user.dog.id %>
  <h3> Ingredients </h3>
  <%= button_tag "Check nutritional status of recipe", :type => 'button', :id => "check_recipe" %>
  <div id="doses">
    <%= f.simple_fields_for :doses do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Select another ingredient', f, :doses %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
