<%= simple_form_for @recipe do |f| %>
  <%= f.input :name, label: 'Recipe Name' %>
  <%= f.hidden_field :dog_id, value: @user.dog.id %>

  <h4> Ingredients </h4>

  <div id="doses">
    <%= f.simple_fields_for :doses do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '+', f, :doses, class: 'btn' %>
    </div>
  </div>
  <%= f.submit class: 'btn' %>
<% end %>
