<br>


<%= simple_form_for @recipe, class: 'form-recipe' do |f| %>
  <h4>1. Select Your Ingredients</h4>

  <div id="doses">
    <%= f.simple_fields_for :doses do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '+', f, :doses, class: 'btn btn-add' %>
    </div>
  </div>

  <hr>

<h4>3. Describe Your Recipe</h4>
  <div class="row form-group">
    <%= f.label :name, class: 'col-sm-3 control-label no-padding padding-top', label: "Recipe Name" %>

    <div class="col-sm-9 no-left-padding">
      <%= f.text_field :name, placeholder: "Pawtastic Chicken and Broccoli", class: 'form-control' %>
    </div>
  </div>

   <div class="row form-group">
    <%= f.label :photo, class: 'col-sm-3 control-label no-padding', label: "Recipe Photo (recommended)" %>

    <div class="col-sm-9 no-left-padding">
      <%= f.file_field :photo, class: 'form-control' %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
  </div>

  <%= f.hidden_field :dog_id, value: @user.dog.id %>

<hr>

  <%= f.submit class: 'btn btn-info' %>
<% end %>


<% content_for(:inline_javascript) do %>
  <script>

    function updateVisualization() {
        var ids = [];
        $('.ingredient_name').each(function(i, item) {
          if ($(item).val() !== '') {
            ids.push($(item).val());
          }
        });


        var amounts = [];
        $('.ingredient_amount').each(function(i, item) {
          amounts.push($(item).val());
        });


        Object.keys(totalNutrients).forEach(function(nutrient) {
          totalNutrients[nutrient] = 0
        });


        for (var i = 0; i < ids.length; i += 1) {
          Object.keys(totalNutrients).forEach(function(nutrient) {
            var ingredient = ingredients.find(function(ingredient) {
              return ids[i] == ingredient.id;
            });
            totalNutrients[nutrient] = totalNutrients[nutrient] + ingredient[nutrient] * amounts[i]
          });
        }

        Object.keys(totalNutrients).forEach(function(nutrient) {
          var percentageValue = Math.round(totalNutrients[nutrient] / $('#' + nutrient + '_val').html() * 100);
          $('#' + nutrient).attr('aria-valuenow', percentageValue);
          $('#' + nutrient + '_percent').html(Number((totalNutrients[nutrient]).toFixed(2)) + $('#' + nutrient + '_unit').html() + "   |   " + percentageValue + "%");

          if (percentageValue < 100) {
            $('#' + nutrient).attr('style', "width: " + percentageValue + "%");
            $('#' + nutrient + '_percent').html(Number((totalNutrients[nutrient]).toFixed(2)) + $('#' + nutrient + '_unit').html() + "   |   " + percentageValue + "%" + "   |   need more");
            $('#' + nutrient).removeClass('progress-bar-danger');
            $('#' + nutrient).removeClass('progress-bar-success');
            $('#' + nutrient).addClass('progress-bar-warning');

          } else {
            $('#' + nutrient).attr('style', "width: 100%");
            $('#' + nutrient).removeClass('progress-bar-danger');
            $('#' + nutrient).removeClass('progress-bar-warning');
            $('#' + nutrient).addClass('progress-bar-success');
            if (nutrient == "fat_g" && percentageValue > 597) {
              $('#' + nutrient + '_percent').html(Number((totalNutrients[nutrient]).toFixed(2)) + $('#' + nutrient + '_unit').html() + "   |   " + percentageValue + "%" + "   |   too much");
              $('#' + nutrient).removeClass('progress-bar-warning');
              $('#' + nutrient).removeClass('progress-bar-success');
              $('#' + nutrient).addClass('progress-bar-danger');
            };
            if (nutrient == "calcium_mg" && percentageValue > 150) {
              $('#' + nutrient + '_percent').html(Number((totalNutrients[nutrient]).toFixed(2)) + $('#' + nutrient + '_unit').html() + "   |   " + percentageValue + "%" + "   |   too much");
              $('#' + nutrient).removeClass('progress-bar-warning');
              $('#' + nutrient).removeClass('progress-bar-success');
              $('#' + nutrient).addClass('progress-bar-danger');
            };
            if (nutrient == "vitamin_a_iu" && percentageValue > 4221) {
              $('#' + nutrient + '_percent').html(Number((totalNutrients[nutrient]).toFixed(2)) + $('#' + nutrient + '_unit').html() + "   |   " + percentageValue + "%" + "   |   too much");
              $('#' + nutrient).removeClass('progress-bar-warning');
              $('#' + nutrient).removeClass('progress-bar-success');
              $('#' + nutrient).addClass('progress-bar-danger');
            };
            if (nutrient == "vitamin_d_iu" && percentageValue > 588) {
              $('#' + nutrient + '_percent').html(Number((totalNutrients[nutrient]).toFixed(2)) + $('#' + nutrient + '_unit').html() + "   |   " + percentageValue + "%" + "   |   too much");
              $('#' + nutrient).removeClass('progress-bar-warning');
              $('#' + nutrient).removeClass('progress-bar-success');
              $('#' + nutrient).addClass('progress-bar-danger');
            };
          };

        });



    }

    $('#doses').on('cocoon:after-insert', function(e, insertedItem) {
      $('#doses .bootstrap-slider').slider({});
    });


    var ingredients = <%= raw Ingredient.order(:name).to_json %>;

    var totalNutrients = {energy_kcal:0,protein_g:0,fat_g:0,fiber_g:0,calcium_mg:0,iron_mg:0,magnesium_mg:0,phosphorus_mg:0,potassium_mg:0,sodium_mg:0,zinc_mg:0,niacin_mg:0,pyridoxine_mg:0,folate_ug:0,vitamin_b12_ug:0,vitamin_a_iu:0,vitamin_e_mg:0,vitamin_d_iu:0,riboflavin_mg:0,thiamin_mg:0}


    $(document).ready(function() {

      $(document).on('change', '.bootstrap-slider', function(event) {
        updateVisualization();
      });
      $(document).on('change', '.ingredient_name', function(event) {
        updateVisualization();
      });
      $(document).on('click', '.btn-minus', function(event) {
        updateVisualization();
      });

    });
  </script>
<% end %>
