<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="panel">
    <div class="panel-body">
      <h1>Welcome to the Recipe Builder!</h1>
    </div>
    </div>
    </div>
  </div>
</div>
 <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <div class="panel">
        <div class="panel-body">
            <div class="row">
              <div class="col-xs-2 progress-title"></br><strong>Nutrient</strong></div>
              <div class="col-xs-8 progress-title"><strong>Percentage of <%= @user.dog.name.capitalize %>'s Daily Nutritional Requirement Fulfilled by Current Recipe</strong></div>
              <div class="col-xs-2 progress-title"><strong>Minimum Target</strong></div>
            </div>
          <% @nutrients.each do |nutrient| %>
            <div class="row">
              <div class="col-xs-2 no-padding">
                <div class="nutrient-label">
                  <%= nutrient.split('_')[0...-1].join(' ').titlecase %>
                </div>
              </div>
              <div class="col-xs-8 no-padding">
                <div class="progress">
                  <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>></div>
                  <div class="progress-bar progress-bar-warning progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span hidden="hidden" id=<%= nutrient + "_val" %>>
                  <%= @nutrition_req[nutrient] %>
                </span>
                <span hidden="hidden" id=<%= nutrient + "_unit" %>>
                  <%= nutrient.split('_')[-1] %>
                </span>
              </div>
              <div class="col-xs-2 no-padding">
                <div class="nutrient-amount">
                  <%= '%.2f' % @nutrition_req[nutrient] %> <%= nutrient.split('_')[-1] %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel">
        <div class="panel-body">
          <%= render partial: 'recipe_form' %>
    </div>
  </div>
</div>






