<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <div class="panel">
        <div class="panel-heading">
          <h3>Your Recipe's Nutritional Breakdown</h3>
        </div>
        <div class="panel-body">
          <% @nutrients.each do |nutrient| %>
            <h5><%= nutrient.split('_')[0...-1].join(' ').titlecase %>:
            <span id=<%= nutrient %>>0</span><span hidden="hidden" id=<%= nutrient + "_val" %>><%= @nutrition_req[nutrient] %></span>%</h5>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="panel">
        <div class="panel-heading">
          <h3>Recipe</h3>
        </div>
        <div class="panel-body">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>






