<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

<div class="container container-recipe-show">
  <div class="clearfix">
    <div class='pull-right'>
      <%= link_to "Edit Recipe", edit_recipe_path, class: 'btn btn-info' %>
    </div>
    <div class='text-left'>
      <%= link_to "Back to Recipe Book", recipe_book_path, class: 'btn btn-primary' %>
    </div>
    <!-- <h6>
      Delete Recipe - needs to be linked
    </h6> -->
  </div>

  <div>
    <h3>Recipe for <%= @recipe.name %> </h3>
    <div class="favorite-star <%= 'active' if @is_recipe_favorited %>" data-recipe-id="<%= @recipe.id %>">
      <span class="fa fa-star<%= '-o' unless @is_recipe_favorited %>"></span>
      <p class="favorite-msg">Added to favorite recipes!</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">

      <div class="panel">
        <div class="panel-body">
          <h4>Nutritional Information</h4>

          <hr/>

          <% @nutrients.each do |nutrient| %>
            <div class="row">
              <div class="col-md-6 text-right">
                <%= nutrient.split('_')[0...-1].join(' ').titlecase %>
              </div>
              <div class="col-md-6">
                <%= '%.1f' % @recipe_nutrition_info[nutrient] %>
                <%= nutrient.split('_')[-1] %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <h4>Ingredients</h4>


          <hr/>

          <% @recipe.doses.each do |dose| %>
            <div class="row">
              <div class="col-md-8 text-right">
                <%= dose.ingredient.name %>
              </div>
              <div class="col-md-4">
                <%= dose.amount %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
