<% content_for(:title_tag) do %>
  HealthyPaws | The recipe builder for your best friend's needs
<% end %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

<div class="container container-recipe-show">
<!--   <div class="clearfix">
    <div class='pull-right'>
      <%= link_to "Edit Recipe", edit_recipe_path, class: 'btn btn-info' %>
    </div>
    <div class='text-left'>
      <%= link_to "Back to Recipe Book", recipe_book_path, class: 'btn btn-primary' %>
    </div> -->
    <!-- <h6>
      Delete Recipe - needs to be linked
    </h6> -->
<!--   </div> -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel">
    <div class="panel-body recipe-show-background">
      <div class="row">
    <div class="col-sm-1 col-sm-offset-2">
      <!-- Star for favoriting recipes to save into the Recipe Book  -->
      <div class="favorite-star <%= 'active' if @is_recipe_favorited %>" data-recipe-id="<%= @recipe.id %>">
        <span class="fa fa-star<%= '-o' unless @is_recipe_favorited %>"></span>
        <p class="favorite-msg">Added to favorite recipes!</p>
      </div>
    </div>
    <div class="col-sm-6">

      <h3><strong><%= @recipe.name.upcase %></strong></h3>
      <p>By: <%= link_to @recipe.dog.user.first_name, user_path(@recipe.dog.user) %></p>
    </div>
    <div class="col-sm-2">
      <div class="social-icons">
        <span class="fa fa-weibo icon-inline no-left-margin"></span>
        <span class="fa fa-facebook-square icon-inline"></span>
        <span class="fa fa-twitter-square icon-inline"></span>
        <span class="fa fa-instagram icon-inline"></span>
        <span class="fa fa-pinterest-square icon-inline no-right-margin"></span>
      </div>
    </div>
  </div>
    </div>
    </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-7">

      <div class="panel">
        <div class="panel-body">
          <% if @user.dog.present? %>
            <h4>How does this recipe fulfil <%= @user.dog.name.capitalize %>'s daily nutritional needs? </h4>
            <div class="row">
                <div class="col-xs-3 progress-title text-align-right"></br><strong>Nutrient</strong></div>
                <div class="col-xs-6 progress-title"><strong>Percentage of <%= @user.dog.name.capitalize %>'s Daily Requirements Fulfilled by This Recipe (<%= @recipe.name %>)</strong></div>
                <div class="col-xs-3 progress-title text-align-left"><strong><%= @user.dog.name.capitalize %>'s Minimum Target Per Day</strong></div>
              </div>
              <div class="row">
              <hr class="hr-less-padding">
              </div>
            <% @nutrients.each do |nutrient| %>
              <div class="row">
                <div class="col-xs-3 no-padding">
                  <div class="nutrient-label">
                    <%= nutrient.split('_')[0...-1].join(' ').titlecase %>
                    <button type="button" class="btn btn-nutrient-info" id=<%= nutrient + "_popover" %> data-container="body" data-toggle="popover" data-placement="right" data-content="">?</button>
                  </div>
                </div>
                <div class="col-xs-6 no-padding">
                  <div class="progress">
                    <% nutrient_percent = '%.2f' % (@recipe_nutrition_info[nutrient] / @nutrition_req[nutrient] * 100)  %>
                    <% percentage_value = (@recipe_nutrition_info[nutrient] / @nutrition_req[nutrient] * 100) %>
                    <% if (percentage_value < 100) %>
                      <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>><%= '%.2f' % @recipe_nutrition_info[nutrient] + nutrient.split('_')[-1] + "   |   " + nutrient_percent + "%" + "   |   need more"%></div>
                      <div class="progress-bar progress-bar-warning progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: <%= percentage_value %>%" aria-valuenow=<%= nutrient_percent %> aria-valuemin="0" aria-valuemax="100"></div>
                    <% elsif (nutrient == "fat_g" && percentage_value > 597) %>
                      <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>><%= '%.2f' % @recipe_nutrition_info[nutrient] + nutrient.split('_')[-1] + "   |   " + nutrient_percent + "%" + "   |   too much" %></div>
                      <div class="progress-bar progress-bar-danger progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: 100%" aria-valuenow=<%= nutrient_percent %> aria-valuemin="0" aria-valuemax="100"></div>
                    <% elsif (nutrient == "calcium_mg" && percentage_value > 150) %>
                      <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>><%= '%.2f' % @recipe_nutrition_info[nutrient] + nutrient.split('_')[-1] + "   |   " + nutrient_percent + "%" + "   |   too much" %></div>
                      <div class="progress-bar progress-bar-danger progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: 100%" aria-valuenow=<%= nutrient_percent %> aria-valuemin="0" aria-valuemax="100"></div>
                    <% elsif (nutrient == "vitamin_a_iu" && percentage_value > 4221) %>
                      <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>><%= '%.2f' % @recipe_nutrition_info[nutrient] + nutrient.split('_')[-1] + "   |   " + nutrient_percent + "%" + "   |   too much" %></div>
                      <div class="progress-bar progress-bar-danger progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: 100%" aria-valuenow=<%= nutrient_percent %> aria-valuemin="0" aria-valuemax="100"></div>
                    <% elsif (nutrient == "vitamin_d_iu" && percentage_value > 588) %>
                      <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>><%= '%.2f' % @recipe_nutrition_info[nutrient] + nutrient.split('_')[-1] + "   |   " + nutrient_percent + "%" + "   |   too much" %></div>
                      <div class="progress-bar progress-bar-danger progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: 100%" aria-valuenow=<%= nutrient_percent %> aria-valuemin="0" aria-valuemax="100"></div>
                    <% else %>
                      <div class="nutrient-progress-percentage-label" id=<%= nutrient + "_percent" %>><%= '%.2f' % @recipe_nutrition_info[nutrient] + nutrient.split('_')[-1] + "   |   " + nutrient_percent + "%" %></div>
                      <div class="progress-bar progress-bar-success progress-bar-striped active" id=<%= nutrient %> role="progressbar" style="width: 100%" aria-valuenow=<%= nutrient_percent %> aria-valuemin="0" aria-valuemax="100"></div>
                    <% end %>

                  </div>
                  <span hidden="hidden" id=<%= nutrient + "_val" %>>
                    <%= @nutrition_req[nutrient] %>
                  </span>
                  <span hidden="hidden" id=<%= nutrient + "_unit" %>>
                    <%= nutrient.split('_')[-1] %>
                  </span>
                </div>
                <div class="col-xs-3 no-padding">
                  <div class="nutrient-amount">
                    <button type="button" class="btn btn-nutrient-info" id=<%= nutrient + "_sources" %> data-container="body" data-toggle="popover" data-placement="right" data-content="">i</button>
                    <%= '%.2f' % @nutrition_req[nutrient] %> <%= nutrient.split('_')[-1] %>
                  </div>
                </div>
              </div>
            <% end %>

          <% else %>
            <h4>Recipe Nutritional Info</h4>
            <table class = "table">
              <% @nutrients.each do |nutrient| %>
                <tr>
                  <td>
                    <%= nutrient.split('_')[0...-1].join(' ').titlecase %>
                    <button type="button" class="btn btn-nutrient-info" id=<%= nutrient + "_popover" %> data-container="body" data-toggle="popover" data-placement="right" data-content="">?</button>
                  </td>
                  <td>
                    <%= '%.2f' % @recipe_nutrition_info[nutrient] %>
                    <%= nutrient.split('_')[-1] %>
                    <button type="button" class="btn btn-nutrient-info" id=<%= nutrient + "_sources" %> data-container="body" data-toggle="popover" data-placement="right" data-content="">i</button>
                  </td>
                  </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-sm-5">
      <div class="panel">
        <div class="panel-body">
          <h4>Ingredients</h4>
          <table class = "table">
          <% @recipe.doses.each do |dose| %>
            <tr>
              <td>
                <%= dose.ingredient.name %>
              </td>
              <td>
                <%= dose.amount %> g
              </td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:inline_javascript) do %>
  <script>
  var totalNutrients = {energy_kcal:0,protein_g:0,fat_g:0,fiber_g:0,calcium_mg:0,iron_mg:0,magnesium_mg:0,phosphorus_mg:0,potassium_mg:0,sodium_mg:0,zinc_mg:0,niacin_mg:0,pyridoxine_mg:0,folate_ug:0,vitamin_b12_ug:0,vitamin_a_iu:0,vitamin_e_mg:0,vitamin_d_iu:0,riboflavin_mg:0,thiamin_mg:0}

  var nutrientInfos = {
    energy_kcal:"Dogs need energy to sustain their normal daily activities.",
    protein_g:"Dogs need protein to develop, grow and function properly",
    fat_g:"Dogs need fats to have healthy skin, coat, vision and cognition",
    calcium_mg:"Dogs need calcium for healthy bones and muscles",
    iron_mg:"Dogs need iron to grow and to be alert and strong",
    magnesium_mg:"Dogs need magnesium to have a healthy weight and nervous system",
    phosphorus_mg:"Dogs need phosphorus to have a healthy appetite and skeleton",
    potassium_mg:"Dogs need potassium for strength and growth",
    sodium_mg:"Dogs need sodium for a healthy circulatory system",
    zinc_mg:"Dogs need zinc to have healthy weight and skin",
    niacin_mg:"(a.k.a. Vitamin B3) Dogs need niacin for proper enzyme functions",
    pyridoxine_mg:"(a.k.a. Vitamin B6) Dogs need pyrodoxine to have a healthy nervous and circulatory system",
    folate_ug:"(a.k.a. Folic Acid/Vitamin B9) Dogs need folate for proper metabolism and protein synthesis",
    vitamin_b12_ug:"Dogs need Vitamin B12 for proper enzyme functions",
    vitamin_a_iu:"Dogs need Vitamin A for for proper vision, growth, skin and immune function",
    vitamin_e_mg:"Dogs need Vitamin E to prevent degeneration of muscles, bones and vision",
    vitamin_d_iu:"Dogs need Vitamin D for healthy muscles and bones",
    riboflavin_mg:"(a.k.a. Vitamin B2) Dogs need riboflacin for proper enzyme functions",
    thiamin_mg:"(a.k.a. Vitamin B1) Dogs need thiamin for healthy metabolism, cognition and nervous system"
  }

  var nutrientSources = {
    energy_kcal:"sweet potatos, bananas or pumpkin",
    protein_g:"fish, eggs or dairy products",
    fat_g:"fish or eggs",
    calcium_mg:"cheese or brocolli",
    iron_mg:"liver, fish or green vegetables",
    magnesium_mg:"fish, beans or organ meats",
    phosphorus_mg:"more meat",
    potassium_mg:"bananas, potatoes or carrots",
    sodium_mg:"poultry, fish or eggs ",
    zinc_mg:"more meat",
    niacin_mg:"organ meats, eggs or legumes",
    pyridoxine_mg:"muscle and organ meats, eggs or dairy",
    folate_ug:"liver, kidney or green vegetables",
    vitamin_b12_ug:"organ meats",
    vitamin_a_iu:" liver, fish or eggs",
    vitamin_e_mg:"green leafy vegetables",
    vitamin_d_iu:"oil fish (sardines, salmon, tuna), eggs or dairy products",
    riboflavin_mg:"liver, cheese or eggs",
    thiamin_mg:"quinoa or barley"
  }


$(document).ready(function(){
  Object.keys(totalNutrients).forEach(function(nutrient) {
    $('#' + nutrient + '_popover').attr('data-content', nutrientInfos[nutrient]);
    $('#' + nutrient + '_popover').popover()
    $('#' + nutrient + '_sources').attr('data-content', "Need more? Try adding " + nutrientSources[nutrient]);
    $('#' + nutrient + '_sources').popover()
  });
});
  </script>
<% end %>

