<% content_for(:title_tag) do %>
  HealthyPaws | Create balanced recipes for your dog's nutritional needs
<% end %>
<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div class="panel">
    <div class="panel-body profile-background">
      <h3><strong>WELCOME TO <%= @user.first_name.upcase %>'S PROFILE!</strong></h3>
    </div>
    </div>
    </div>
  </div>

  <div class="row-dog-profile">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel">
          <div class="panel-heading">
            <h4><strong>About <%= @user.first_name %>'s Dog</strong></h4>
              <div class="panel-body">
                <% if @dog.nil? %>
                <p><%= @user.first_name %> hasn't told us about your dog yet.</p>
                <div class="row-action-button">
                  <a href="/recipes/new" class="btn btn-info" role="button">Add your dog's info and start creating a recipe</a>
                </div>
                <% else %>

                  <p><%= @dog.photo %></p>
                  <p><%= @dog.name %> is a <%= @dog.size %> breed <%= @dog.life_stage %> dog weighing <%= @dog.weight %>kg.
                    <% if @dog.is_sterilized %>
                      <%= @dog.name %> has been neutered/spayed.
                    <% else %>
                      <%= @dog.name %> hasn't been neutered/spayed.
                    <% end %>
                  <%= @dog.name %> is
                    <%= "underweight" if @dog.body_condition_score == 1 %>
                    <%= "lean" if @dog.body_condition_score == 2 %>
                    <%= "ideal" if @dog.body_condition_score == 3 %>
                    <%= "overwekgnt" if @dog.body_condition_score == 4 %>
                    <%= "obese" if @dog.body_condition_score == 5 %>
                  with a body condition score of <%= @dog.body_condition_score %>.</p>
              </div>

            <div class="panel-body">
              <h4><strong><%= @dog.name.titlecase %>'s Daily Nutritional Requirements</strong></h4>

            <table class = "table">
              <% @nutrients.each do |nutrient| %>
                <tr>
                  <td>
                    <%= nutrient.split('_')[0...-1].join(' ').titlecase %>
                    <button type="button" class="btn btn-nutrient-info" id=<%= nutrient + "_popover" %> data-container="body" data-toggle="popover" data-placement="right" data-content="">?</button>
                  </td>
                  <td>
                    <%= '%.2f' % @nutrition_req[nutrient] %>
                    <%= nutrient.split('_')[-1] %>
                  </td>
                  </tr>
              <% end %>
            </table>
               <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel">
            <div class="panel-body">
            <h4><%= @user.first_name %>'s Recipes</h4>


            <% if @recipes.empty? %>
              <h3>You have not added a recipe yet</h3>
              <div><%= link_to "Add a recipe", new_recipe_path, class: 'btn btn-primary' %></div>
            <% else %>
              <table class = "table">
                <% @recipes.each do |recipe| %>
                  <tr>
                    <td>
                      <%= link_to recipe.name, recipe_path(recipe) %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:inline_javascript) do %>
  <script>
  var totalNutrients = {energy_kcal:0,protein_g:0,fat_g:0,fiber_g:0,calcium_mg:0,iron_mg:0,magnesium_mg:0,phosphorus_mg:0,potassium_mg:0,sodium_mg:0,zinc_mg:0,niacin_mg:0,pyridoxine_mg:0,folate_ug:0,vitamin_b12_ug:0,vitamin_a_iu:0,vitamin_e_mg:0,vitamin_d_iu:0,riboflavin_mg:0,thiamin_mg:0}

  var nutrientInfos = {
    energy_kcal:"Dogs need energy to sustain their normal daily activities.",
    protein_g:"Dogs need protein to develop, grow and function properly",
    fat_g:"Dogs need fats to have healthy skin, coat, vision and cognition",
    calcium_mg:"Dogs need calcium for healthy bones and muscles",
    iron_mg:"Dogs need iron to grow and to be alert and strong",
    magnesium_mg:"Dogs need magnesium to have a healthy weight and nervous system",
    phosphorus_mg:"Dogs need phosphorus to have a healthy appetite and skeleton",
    potassium_mg:"Dogs need potassium for strength and growth",
    sodium_mg:"Dogs need sodium for a healthy circulatory system",
    zinc_mg:"Dogs need zinc to have healthy weight and skin",
    niacin_mg:"(a.k.a. Vitamin B3) Dogs need niacin for proper enzyme functions",
    pyridoxine_mg:"(a.k.a. Vitamin B6) Dogs need pyrodoxine to have a healthy nervous and circulatory system",
    folate_ug:"(a.k.a. Folic Acid/Vitamin B9) Dogs need folate for proper metabolism and protein synthesis",
    vitamin_b12_ug:"Dogs need Vitamin B12 for proper enzyme functions",
    vitamin_a_iu:"Dogs need Vitamin A for for proper vision, growth, skin and immune function",
    vitamin_e_mg:"Dogs need Vitamin E to prevent degeneration of muscles, bones and vision",
    vitamin_d_iu:"Dogs need Vitamin D for healthy muscles and bones",
    riboflavin_mg:"(a.k.a. Vitamin B2) Dogs need riboflacin for proper enzyme functions",
    thiamin_mg:"(a.k.a. Vitamin B1) Dogs need thiamin for healthy metabolism, cognition and nervous system"
  }

  var nutrientSources = {
    energy_kcal:"sweet potatos, bananas or pumpkin",
    protein_g:"fish, eggs or dairy products",
    fat_g:"fish or eggs",
    calcium_mg:"cheese or brocolli",
    iron_mg:"liver, fish or green vegetables",
    magnesium_mg:"fish, beans or organ meats",
    phosphorus_mg:"more meat",
    potassium_mg:"bananas, potatoes or carrots",
    sodium_mg:"poultry, fish or eggs ",
    zinc_mg:"more meat",
    niacin_mg:"organ meats, eggs or legumes",
    pyridoxine_mg:"muscle and organ meats, eggs or dairy",
    folate_ug:"liver, kidney or green vegetables",
    vitamin_b12_ug:"organ meats",
    vitamin_a_iu:" liver, fish or eggs",
    vitamin_e_mg:"green leafy vegetables",
    vitamin_d_iu:"oil fish (sardines, salmon, tuna), eggs or dairy products",
    riboflavin_mg:"liver, cheese or eggs",
    thiamin_mg:"quinoa or barley"
  }


$(document).ready(function(){
  Object.keys(totalNutrients).forEach(function(nutrient) {
    $('#' + nutrient + '_popover').attr('data-content', nutrientInfos[nutrient]);
    $('#' + nutrient + '_popover').popover()
    $('#' + nutrient + '_sources').attr('data-content', "Need more? Try adding " + nutrientSources[nutrient]);
    $('#' + nutrient + '_sources').popover()
  });
});
  </script>
<% end %>

