<div class="cards">
  <div class="container">
    <div class="row">
      <% if @recipes.blank? %>
         <p>No recipes to show</p>
       <% else %>
         <div class="owl-carousel owl-theme">
          <% @recipes.each do |recipe| %>
            <%= link_to recipe do %>
              <div class="panel panel--card">
                <div class="panel-body">
                  <div class="text-center">
                    <%= card_image recipe %>
                  </div>
                  <h4 class="recipe-name">
                    <%= recipe.name %>
                  </h4>
                  <p class="recipe-ingredients">
                    Includes: <%= recipe.doses.first(2).map{ |dose| dose.ingredient.name }.join(', ') %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
    <div><%= link_to "See More Recipes", recipes_path, class: 'btn btn-gold' %></div>
  </div>
</div>

<% content_for(:inline_javascript) do %>
  <script>
    $(document).ready(function(){
      $('.owl-carousel').owlCarousel({
        autoplay: true});
      $('.owl-carousel').owlCarousel({
        autoplayTimeout: 5000
      });
    });
  </script>
<% end %>

