<%= simple_form_for(@dog, :html => {:class => 'form-horizontal form-dog-create' }) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: current_or_guest_user.id %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-4 control-label', label: "Your Dog's Name" %>

    <div class="col-sm-8">
      <%= f.text_field :name, placeholder: "Cotton", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :weight, class: 'col-sm-4 control-label' %>

    <div class="col-sm-8">
      <%= f.text_field :weight, placeholder: "5.2", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :size, class: 'col-sm-4 control-label' %>

    <div class="col-sm-8">
      <%= f.select :size, all_sizes, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :life_stage, class: 'col-sm-4 control-label' %>

    <div class="col-sm-8">
      <%= f.select :life_stage, all_life_stages, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :activity_level, class: 'col-sm-4 control-label' %>

    <div class="col-sm-8">
      <%= f.select :activity_level, all_activity_levels, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_sterilized, class: 'col-sm-4 control-label', label: "Has your dog been neutered/spayed?" %>

    <div class="col-sm-8 text-left">
      <div class="checkbox">
        <label>
          <%= f.check_box :is_sterilized %>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body_condition_score, class: 'col-sm-4 control-label' %>

    <div class="col-sm-8">
      <%= f.select :body_condition_score, all_body_condition_scores, {}, class: 'form-control' %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :photo, class: 'col-sm-4 control-label' %>

    <div class="col-sm-8">
      <%= f.file_field :photo, class: 'form-control' %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
  </div>

  <div class="form-action text-center">
    <%= f.button :submit, "Show nutritional requirements", class: "btn"  %>
  </div>
<% end %>
