
<div class="banner-bottom" style="background-image:url('http://res.cloudinary.com/tanjamiee/image/upload/v1503465692/goldie_with_humans_rjtpqp.jpg');">
  <div class="banner-bottom-content">
    <h1>Build your recipe now</h1>
      <div class="banner-bottom-content-container">
        <div class="recipe-builder">
          <%= form_tag recipes_path, method: 'get', class: 'navbar-form navbar-center' do %>
          <input type="hidden" name="search" value="true">
          <h2> Please generate your dog's profile </h2>
          <h3> <label>Name: </label><%= text_field_tag(:name) %></h3>
          <h3> <label>Weight: </label><input type="number" name="price" placeholder="10kg"></h3>
          <h3><label>Activity level: </label><%= check_box_tag(:low) %>
          <%= label_tag(:low, "Low") %><%= check_box_tag(:medium) %>
          <%= label_tag(:medium, "Medium") %><%= check_box_tag(:high) %>
          <%= label_tag(:high, "High") %></h3>
          <h3><label>Size: </label><%= check_box_tag(:small) %>
          <%= label_tag(:small, "Small") %><%= check_box_tag(:medium) %>
          <%= label_tag(:medium, "Medium") %><%= check_box_tag(:large) %>
          <%= label_tag(:large, "Large") %></h3>
          <h3><label>Is your dog sterilized?: </label><%= check_box_tag(:yes) %>
          <%= label_tag(:yes, "Yes") %><%= check_box_tag(:no) %>
          <%= label_tag(:no, "No") %>></h3>
          <h3><label>Life stage:  </label><%= check_box_tag(:puppy) %>
          <%= label_tag(:puppy, "Puppy") %><%= check_box_tag(:adult) %>
          <%= label_tag(:adult, "Adult") %><%= check_box_tag(:senior) %>
          <%= label_tag(:senior, "Senior") %></h3>
          <h3><label>Body conditioning score: </label><%= check_box_tag(:one) %>
          <%= label_tag(:one, "1") %><%= check_box_tag(:two) %>
          <%= label_tag(:two, "2") %><%= check_box_tag(:three) %>
          <%= label_tag(:three, "3") %><%= check_box_tag(:four) %>
          <%= label_tag(:four, "4") %><%= check_box_tag(:five) %>
          <%= label_tag(:five, "5") %></h3>
          <button>Search</button>

          <%end%>
        </div>
      </div>
  </div>
</div>



