<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div class="panel">
    <div class="panel-body">
      <h1>Welcome to <%= @user.first_name %>'s Profile!</h1>
    </div>
    </div>
    </div>
  </div>

  <div class="row-dog-profile">
    <div class="row">
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-heading">
            <h2>Your dog's profile</h2>
              <div class="panel-body">
                <% if @dog.nil? %>
                <%= dog_card_image dog %>
                <p>You have not added a dog yet</p>
                <% else %>

                  <p><%= cl_image_tag @dog.photo, width: 250, height: 250, crop: :fill %></p>
                  <p><%= @dog.name %> is a <%= @dog.weight %>kg <%= @dog.size %> sized <%= @dog.life_stage %> doggo!
                  <% if @dog.is_sterilized %>
                    <%= @dog.name %> has been neutered/spayed.
                  <% else %>
                    <%= @dog.name %> hasn't been neutered/spayed.
                  <% end %>
                  <%= @dog.name %> also has a body condition score of <%= @dog.body_condition_score %>/5.</p>


              </div>

            <div class="panel-body">
              <h4>Daily nutritional needs</h4>
                  <% @nutrients.each do |nutrient| %>
                    <p><%= nutrient.split('_')[0...-1].join(' ').titlecase %>: <%= '%.2f' % @nutrition_req[nutrient] %> <%= nutrient.split('_')[-1].downcase %>
                    </p>
                  <% end %>
               <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading">
            <h2>Recent recipes</h2>
          </div>

          <div class="panel-body">
            <% if @recipes.empty? %>
              <p>You have not added a recipe yet</p>
              <div><%= link_to "Add a recipe", new_recipe_path, class: 'btn btn-primary' %></div>
            <% else %>
              <% @recipes.each do |recipe| %>
              <%= link_to recipe.name, recipe_path(recipe) %>
              <% end %>
              <div><%= link_to "See your recipe book", recipe_book_path, class: 'btn btn-primary' %></div>
            <% end %>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




