<% content_for(:title_tag) do %>
  HealthyPaws | Recipes for a balanced feeding of your best friend
<% end %>
<div class="container">
  <div class="row">
  <div class="col-sm-12">
    <div class="panel">
    <div class="panel-body">
      <h1>Welcome to <%= @user.first_name %>'s Recipe Book!</h1>
    </div>
    </div>
    </div>
  </div>

  <div class="tabs">
    <a class="tab active" data-target="#mine">
      <h4>My Recipes</h4>
    </a>
    <a class="tab" data-target="#favorites">
      <h4>Favorited Recipes</h4>
    </a>
  </div>

    <div class="tab-content" id="mine">
      <div class="panel" id="my-recipes-section">
<!--         <div class="panel-heading">
          <h3>My Recipes</h3>
        </div> -->
        <div class="panel-body">
          <table class="table table-hover">
              <%= render "shared/cards_browse" %>
            </tbody>
          </table>
          <%= link_to "Create a new recipe", new_recipe_path, class: 'btn' %>
        </div>
      </div>
    </div>

    <div class="tab-content hidden" id="favorites">
      <div class="panel" id="favorite-recipes-section">
<!--         <div class="panel-heading">
           <h3>Favorited Recipes</h3>
        </div> -->
        <div class="panel-body">
          <table class="table table-hover">

            <tbody>
              <% @user.favorite_recipes.each do |recipe| %>
                <%= link_to recipe do %>
            <div class="col-xs-12 col-sm-4">


              <div class="panel panel--card">
                <div class="panel-body">
                  <div class="text-center">
                    <%= card_image recipe %>
                  </div>
                  <h4 class="recipe-name">
                    <%= recipe.name %>
                  </h4>
                  <p class="recipe-ingredients">
                    <%= recipe.doses.first(2).map{ |dose| dose.ingredient.name }.join(', ') %>
                  </p>
                  <p> Made by: <%= @user.first_name %></p>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
            </tbody>
          </table>
           <%= link_to "Find new favorite recipes", recipes_path, class: 'btn' %>
        </div>
      </div>
    </div>
</div>



<!-- How to link the name of each recipe to the recipe -->
