<% content_for(:title_tag) do %>
  HealthyPaws | Your Recipe Book
<% end %>
<div class="container">
  <div class="row">
  <div class="col-sm-12">
    <div class="panel">
    <div class="panel-body recipe-book-background">
      <h3><strong>YOUR RECIPE BOOK</strong></h3>
    </div>
    </div>
    </div>
  </div>

  <div class="tabs">
    <a class="tab active" data-target="#mine">
      <h4>My Recipes</h4>
    </a>
    <a class="tab" data-target="#favorites">
      <h4>Favorited Recipes</h4>
    </a>
  </div>

    <div class="tab-content" id="mine">
      <div class="panel" id="my-recipes-section">

        <div class="panel-body no-padding">
          <div class="row-action-button">
            <a href="/recipes/new" class="btn btn-info" role="button">Create a new recipe</a>
          </div>
          <table class="table table-hover">
          <% if @user.dog.nil? %>
            <br>
            <p style="text-align:center">No recipes to show.</p>
          <% else %>
            <% if @user.dog.recipes.blank? %>
              <br>
              <p style="text-align:center">No recipes to show.</p>
            <% else %>
              <% @user.dog.recipes.each do |recipe| %>
                    <%= link_to recipe do %>
                <%= link_to recipe do %>
                <div class="col-xs-12 col-sm-4">


                  <div class="panel panel--card">
                    <div class="panel-body">
                      <div class="text-center">
                        <%= card_image recipe %>
                      </div>
                      <h4 class="recipe-name text-center">
                        <%= recipe.name %>
                      </h4>
                      <p class="recipe-ingredients text-center">
                        Includes: <strong><%= recipe.doses.first(2).map{ |dose| dose.ingredient.name }.join(', ') %></strong>
                      </p>
                      <p class="text-center"> By: <strong><%= recipe.dog.user.first_name %></strong></p>
                    </div>
                  </div>

                 </div>
                <% end %>
             <% end %>
            <% end %>
          <% end %>
          <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-content hidden" id="favorites">
      <div class="panel" id="favorite-recipes-section">
        <div class="panel-body no-padding">
        <div class="row-action-button">
                  <a href="/recipes" class="btn btn-info" role="button">Find new favorite recipes</a>
            </div>
          <table class="table table-hover">

<% if @user.favorite_recipes.blank? %>
<br>
            <p style="text-align:center">No recipes to show.</p>
          <% else %>
              <% @user.favorite_recipes.each do |recipe| %>
                <%= link_to recipe do %>
            <%= link_to recipe do %>
            <div class="col-xs-12 col-sm-4">


              <div class="panel panel--card">
                <div class="panel-body">
                  <div class="text-center">
                    <%= card_image recipe %>
                  </div>
                  <h4 class="recipe-name text-center">
                    <%= recipe.name %>
                  </h4>
                  <p class="recipe-ingredients text-center">
                    Includes: <strong><%= recipe.doses.first(2).map{ |dose| dose.ingredient.name }.join(', ') %></strong>
                  </p>
                  <p class="text-center"> By: <strong><%= recipe.dog.user.first_name %></strong></p>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
          </table>

        </div>
      </div>
    </div>
</div>



<!-- How to link the name of each recipe to the recipe -->
