<div class="container">
  <h1><%= @user.first_name %>'s Recipe Book</h1>
  <div class="panel">
    <div class="panel-heading">
      <h3>Recipes I've Created</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Recipe</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td><%= link_to recipe.name, recipe_path(recipe) %></td>
              <% if RecipeNutritionInfo.find_by(recipe_id: recipe.id).nil? %>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              <% else %>
                <td><%= RecipeNutritionInfo.find_by(recipe_id: recipe.id)["energy_kcal"] %></td>
                <td><%= RecipeNutritionInfo.find_by(recipe_id: recipe.id)["protein_g"]%></td>
                <td><%= RecipeNutritionInfo.find_by(recipe_id: recipe.id)["fat_g"]%></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Create a new recipe", new_recipe_path, class: 'btn' %>
    </div>
  </div>


  <div class="panel">
    <div class="panel-heading">
       <h3>My Favorite Recipes (Placeholder)</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Recipe</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      </table>
       <%= link_to "Find new favorite recipes", recipes_path, class: 'btn' %>
    </div>
  </div>
</div>

<!-- How to link the name of each recipe to the recipe -->
